<div class="container">
  {{#each restaurant}}
  <div class="restaurant-list">
    <a href="/{{name}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    <div class="text-container">
      <h2>{{name}}</h2>
    </div>    
  </div>
  {{/each}}
</div>