<!doctype html>
<html>
<head>
   <meta charset="utf-8">
   <title>Dev-Eats</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100&display=swap" rel="stylesheet">
<link href="https://www.notion.so/Fri-Project-1-8a746d3197b04d539f40c2c917b8a7fb"  rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
  <div>
          <nav>
            <a class="nav-a" href="index.html">HOME</a>
            <a class="nav-a" href="about.html">ABOUT</a>
            <a class="nav-a" href="blog/blog.html">CUISINES</a>
            <a class="nav-a" href="stuff.html">STUFF</a>
          </nav>
        </div>  
  <div class="banner">
  {{{body}}}
</div>

  <div class="div-nav">
    <nav>
         <a href="../index.html"  class="link"> Home</a>
        <a href="#" class="link"> About us</a>
        <a href="html-css.html" class="link"> contact us</a>
   </div>
<div class="pics">

   <a href="" <img src=""></a>

   </div>

  </body>

 </html>
 